.responsive-img {
    height: 967px;
    
    padding-top: 110px;
    margin-top: 20px;
    background: url("https://images.unsplash.com/photo-1526894198609-10b3cdf45c52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2827&q=80");
    
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    justify-content: space-around;
    
    
}

.search-area {
    margin-top: -50px
}
